

.imagenes {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

  #titulo{
 text-align: center;
 font-family:'Poppins', sans-serif ;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.containerp{
    margin-left: 150px;
    margin-right: 150px;
    display: flex;
    justify-content: space-between;
    padding: 10px; /* Ajusta el padding si lo deseas */
    border: 2px solid #000; /* Borde de color negro */
    background-color: rgba(255, 255, 255, 0.7); /* Fondo negro con opacidad de 0.2 */
    border-radius: 8px; /* Bordes redondeados (opcional) */
    font-size: 20px;
}


